<%- include('./includes/header') %>

<body>
  <%- include('./includes/navigation') %>

  <div class="formDiv">
    <% if(error_message){ for(error of error_message){ %>
    <div class="error"><%= error.msg %></div>

    <% } } %>
    <br />
    <h1>Add Product</h1>
    <form action="/admin/add-product" method="POST">
      Product Name
      <input type="text" name="name" />

      Price
      <input type="number" name="price" />
      <br />
      Brand
      <input type="text" name="brand" />
      <br />
      Rating
      <input type="text" name="rating" />
      <br />
      <button type="submit">Add</button>
    </form>
  </div>
  <%- include('./includes/footer') %>
</body>
