<div class="mainDiv">
    <nav>
        <ul>
            <li>
                <a href="/" class="<%- path==='/' ? 'active' : '' %>">Home</a>
            </li>
            <li>
                <a href="/admin/add-product" class="<%- path==='/' ? 'active' : '' %>">Add Product</a>
            </li>
        </ul>
    </nav>
</div>